<h1>Your Account</h1>

<ul>
  <li><a href="/account/login" method="post">Login</a></li>
  <li><a href="/account/register" method="post">Register</a></li>
  <li><a href="/account/leave">Logout</a></li>

  <li><a href="/">Home</a></li>
</ul>
