<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script type='text/template' id='card-template'>
<article>
  <strong>question</strong>: <%=Question %><br>
  <strong>answer</strong>: <%=Answer %><br>
</article>
</script>
<div id = "cards"></div>
