<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script type='text/template' id='card-template'>
<article>
  <strong>question</strong>: <%= question %><br>
  <strong>answer</strong>: <%= answer %><br>
</article>
</script>
