<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron|Indie+Flower' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script src="/javascripts/items.js" type="text/javascript"></script>
    <script src="/javascripts/buttons.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
      <header>
        <div class="headerLogo"><img class="navLogo" src="../images/decklogo.svg"/></div>
        <div class="headerTitle"><h1>Flash Decks</h1></div>
        <div class="navBar" align="center">
        <li>
          <a href="/publicdecks"><button class="navButton">Public</button></a>
        </li>
      {{#if currentUser}}
        <li>
          <a href="/mydecks"><button class="navButton">My Decks</button></a>
          <a href="/account/leave"><button class="navButton" id="logoutButton">Logout ⇨</button></a>
        </li>
      {{/if}}
      {{#unless currentUser}}
        <li>
        <a href="/account/login"><button class="navButton">Login</button></a>
        </li>
        </div>
      {{/unless}}

      </header>


    <!-- <div class="headerButtons">
    <button>Login</button>
    </div> -->

  <div class="container" align="center">
    {{{body}}}
  </div>
 </body>
</html>
