<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron|Indie+Flower' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <header>
        <div class="headerLogo"><img class="navLogo" src="../images/decklogo.svg"/></div>
        <div class="headerTitle"><h1>Flash Decks</h1></div>
        <div class="headerRight">
        {{#if user}}
        <div class="headerButtons">
        <button><img src="../images/logout.svg"/></button>
        </div>

        <div class="headerButtons">
        <button>My Decks</button>
        </div>
        {{else}}
        <div class="headerButtons">
        <button>Login</button>
        </div>
        <div class="headerButtons">
        <button>Public</button>
        </div>
        {{/if}}
        </div>
      </header>


    <!-- <div class="headerButtons">
    <button>Login</button>
    </div> -->

  <div class="container" align="center">
    {{{body}}}
  </div>

    <script src="/javascripts/app.views.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
 </body>
</html>
