<script src="/javascripts/logins.js" type="text/javascript"></script>


<h2>Login</h2>


<form action="/account/login" method="post">
  <p><input class="ui-input" type="text" name="username" placeholder="username"></p>
  <p><input class="ui-input" type="password" name="password" placeholder="password"></p>
  <p><input class="ui-input-button" type="submit" value="Login"></p>
</form>

<h2> Register </h2>

<form action="/account/register" id="registerForm" method="post">
  <p><input class="ui-input" type="text" name="username" placeholder="username"></p>
  <p><input class="ui-input" type="text" name="password" placeholder="password"></p>
  <p><button class="ui-input-button" type="submit" id="registerButton">Create Account</button</p>
</form>

{{#if message}}
<p class = "message">{{message}}</p>
{{/if}}
