
<h2>{{currentDeck}}</h2>
<script type='text/template' id='card-template'>
<article>
  <strong>question</strong>: <%=Question %><br>
  <h1><strong>answer</strong>: <%=Answer %><br></h1>
</article>
</script>
<button id = "ChemistryQuiz"> Click to set to Chemistry Quiz </button>
<button id = "TarrentinoFanQuiz"> Click to set to Tarrentino Quiz </button>


<div id="cards"></div>
