
<p>Welcome to OUR AWESOMEEEENSSSSSS</p>
<<<<<<< HEAD
<script type='text/template' id='card-template'>
<article>
  <strong>question</strong>: <%=Question %><br>
</article>
</script>
<button id = "ChemistryQuiz"> Click to set to Chemistry Quiz </button>
<button id = "TarrentinoFanQuiz"> Click to set to Tarrentino Quiz </button>

<div id = "cards"></div>
=======

>>>>>>> 4839a77176e6a91f6b63bbd4a6948f5e9fdb3615
