
<script type='text/template' id='card-template'>
<article>
  <strong>question</strong>: <%=Question %><br>
  <strong>answer</strong>: <%=Answer %><br>
</article>
</script>




<div id="cards"></div>
<!--
<button id = "ChemistryQuiz"> Click to set to Chemistry Quiz </button>
<button id = "TarrentinoFanQuiz"> Click to set to Tarrentino Quiz </button> -->

<script type='text/template' id='question-template'>
<article>
  <h1><strong>question</strong>: <%=Question %><br></h1>
</article>
</script>

<div id = "questions"> </div>

test
