
<p>Welcome to OUR AWESOMEEEENSSSSSS</p>

<form action="/decks" method="get">
  <button value ="ChemistryQuiz" type="submit"> Set to Chemistry Quiz </button>
</form>

<form action="/decks" method="get">
<button value ="Tarrentino Fan Quiz" type="submit"> Set to Tarrentino Quiz </button>
</form>
