<h3> Welcome!</h3>
<p class="message"> Flash Decks is a study tool that works by simulating index cards. </p>
<p class ="message"> Get started by logging in or browse our public decks.</p>
<p><a href="/publicdecks"><button class="inputButtonLarge">Browse Public Decks</button></p></a>
<p><a href="/account/login"><button class="inputButtonLarge">Register or Login</button></a>
